<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coffee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE4E564B28C313DE00CBF8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4E565C28C313DF00CBF8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4E566628C313DF00CBF8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
